///////////////
/* LOGO */

///////////////
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

///////////////
/* SearchBar */

///////////////
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: .7rem 2rem;
        background-color: var(--color-gray-light-2);
        border: none;
        border-radius: 20rem;
        width: 80%;
        margin-right: -3.5rem;
        &:focus {
            outline: none;
            width: 100%;
            transition: all .4s;
            background-color: var(--color-gray-light-3);
        }
        transition: all .4s;
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-gray-light-4);
        }
    }
    &__input:focus+&__button {
        background-color: var(--color-gray-light-3);
    }
    &__button {
        border: none;
        background-color: var(--color-gray-light-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(.2rem);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem; //Set color to SVG
        fill: var(--color-gray-dark-3);
    }
}

///////////////
/* UserNav */

///////////////
.user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &>*:hover {
        background-color: var(--color-gray-light-2);
    }
    &__icon-box {
        position: relative;
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-gray-dark-2);
    }
    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

///////////////
/* UserNav */

///////////////
.side-nav {
    font-size: 1.4rem;
    list-style: none; // margin-top: 3.5rem;
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary); // transform-origin: bottom;
        transform: scaleY(0);
        transition: transform .2s, width cubic-bezier(1, 0, 0, 1) .4s .2s, background-color .1s;
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    &__link:link,
    &__link:visited {
        color: var(--color-gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem; //color of the parent
        fill: currentColor;
    }
}

///////////////
/* LegalText */

///////////////
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-gray-light-4);
}

///////////////
/* Over View */

///////////////
.gallery {
    display: flex;
    &__photo {
        width: 100%;
        display: block;
    }
}

///////////////
/* Hotel Over View */

///////////////
.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-light-2);
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }
    &__stars {
        margin-right: auto;
        display: flex;
    }
    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }
    &__icon-location {
        margin-right: .5rem;
    }
    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    &__rating {
        align-self: stretch;
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--average {
            font-size: 2.25rem;
            font-weight: 300;
        }
        &--count {
            font-style: .8rem;
            text-transform: uppercase;
        }
    }
}

///////////////
/* Buttons */

///////////////
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit; //Set the color of the parents or siblings
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        color: var(--color-gray-dark-1);
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}